---
layout: home
---
<section class="hero">
  <div class="container text-center">
    <h1>Level Up Your Game!</h1>
    <p>Pro tips for Fortnite, COD, Free Fire & NBA</p>
  </div>
</section>

<section class="game-categories py-5">
  <div class="container">
    <div class="row">
      {% for game in site.games %}
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="/categories/{{ game.name | slugify }}" class="card game-card">
          <div class="card-body">
            <div class="game-icon mb-3" style="background-color: {{ game.color }};">
              <img src="/assets/img/{{ game.icon }}" alt="{{ game.name }}">
            </div>
            <h3>{{ game.name }} Tips</h3>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="latest-posts bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-4">Latest Tips</h2>
    <div class="row">
      {% for post in site.posts limit:6 %}
      <div class="col-lg-4 col-md-6 mb-4">
        {% include post-card.html post=post %}
      </div>
      {% endfor %}
    </div>
    <div class="text-center mt-4">
      <a href="/posts" class="btn btn-primary">View All Tips</a>
    </div>
  </div>
</section>